<div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static-ssp.supersports.co.th/media/aw_rbslider/slides/060423_ADIDAS-SPORTSWEARS---CITY-ESCAPE_Hero-Banner_1440x415.jpg?impolicy=resize&width=1440" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://static-ssp.supersports.co.th/media/aw_rbslider/slides/070423_CROCS-PLATFORM-CLOG_Hero-Banner_1440x415.jpg?impolicy=resize&width=1440" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://static-ssp.supersports.co.th/media/aw_rbslider/slides/310323_Reebok_NANO_X3_Hero_Banner_1440x415_1.jpg?impolicy=resize&width=1440" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="newpd"> New Products </div>
<div class="row d-flex p-5">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://image.useinsider.com/supersports/defaultImageLibrary/030423_CROCS_OFF%20COURT%20CLOG_NEW%20ARRIVAL%20BANNER_490x590-1680838239.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">New Product : </h5>
              <p class="card-text">New product, buy it before it's gone because it's very good.</p>
              <a href="#" class="btn btn-primary">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/shopping-cart--v1.png"/></a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://image.useinsider.com/supersports/defaultImageLibrary/030423_CROCS_OFF%20COURT%20CLOG_NEW%20ARRIVAL%20BANNER_490x590-1680838239.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">New Product : </h5>
              <p class="card-text">New product, buy it before it's gone because it's very good.</p>
              <a href="#" class="btn btn-primary">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/shopping-cart--v1.png"/></a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://image.useinsider.com/supersports/defaultImageLibrary/030423_CROCS_OFF%20COURT%20CLOG_NEW%20ARRIVAL%20BANNER_490x590-1680838239.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">New Product : </h5>
              <p class="card-text">New product, buy it before it's gone because it's very good.</p>
              <a href="#" class="btn btn-primary">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/shopping-cart--v1.png"/></a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://image.useinsider.com/supersports/defaultImageLibrary/030423_CROCS_OFF%20COURT%20CLOG_NEW%20ARRIVAL%20BANNER_490x590-1680838239.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">New Product : </h5>
              <p class="card-text">New product, buy it before it's gone because it's very good.</p>
              <a href="#" class="btn btn-primary">
                <img src="https://img.icons8.com/material-outlined/24/FFFFFF/shopping-cart--v1.png"/></a>
            </div>
          </div>
    </div>
</div>
