<div class="row" style="margin-top: 30px;">
    <div class="col card cardus">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/24/Chainsawman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">1st member : Suphakrit Jenpeat</p>
        </div>
      </div>
      <div class="col card cardus">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/24/Chainsawman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">2nd member : Koraphat Peantham</p>
        </div>
      </div>
      <div class="col card cardus">
        <img src="https://upload.wikimedia.org/wikipedia/en/2/24/Chainsawman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">3rd member : Sasithon</p>
        </div>
      </div>
</div>
