<div class="row" style="margin-top: 30px;">
  <h1 class="h1">About Us</h1>
    <div class="col card cardus">
        <img src="https://media.discordapp.net/attachments/867340943287123968/1095260295678656612/image0.jpg?width=351&height=467" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">1st member : Suphakrit Jenpeat</p>
        </div>
      </div>
      <div class="col card cardus">
        <img src="https://media.discordapp.net/attachments/867340943287123968/1095260843307974656/B7ADE65D-7E68-45F7-8A8E-401A01CF727D.jpg?width=350&height=467" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">2nd member : Koraphat Peantham</p>
        </div>
      </div>
      <div class="col card cardus">
        <img src="https://media.discordapp.net/attachments/867340943287123968/1095260495784710235/B889F80E-F833-4EFA-B210-B2B030FC9FB1.jpg?width=343&height=467" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">3rd member : Sasithorn Jarungjanyaphong</p>
        </div>
      </div>
</div>
