<div class="container">
    <h1 class="h1"> Register </h1>
    <p class="p"> Easier to order. Enable your point redemption.<br> More privilege for online member</p>
    <table class="common-form">
        <tr class="group"> <input 
            type="text" required
            class="form-input"
            name = "name"
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
        </tr>
        <tr class="group"> <input 
            type="password" required
            class="form-input"
            name = "password"
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
        </tr>
        <tr class="group"> <input 
            type="password" required
            class="form-input"
            name = "confirmpassword"
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Confirm Password</label>
        </tr>
        <tr class="group"> <input 
            type="text" required
            class="form-input"
            name = "email"
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </tr>
        <tr>
            <button class="form-button button-30">Comfirm</button>
        </tr>
    </table>
</div>
