<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand text-shadow" routerLink="/home"><b>Badminton Shop</b>
            <img src="https://img.icons8.com/external-others-ghozy-muhtarom/32/null/external-sport-school-outline-others-ghozy-muhtarom.png"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active linkbutton" aria-current="page" routerLink="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active linkbutton" aria-current="page" routerLink="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active linkbutton" aria-current="page" routerLink="/list">Product</a>
              </li>
            </ul>      
            <form class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active linkbutton" aria-current="page" routerLink="/addnew">Add</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active linkbutton" aria-current="page" routerLink="/cart" >
                    <img src="https://img.icons8.com/android/24/null/shopping-cart.png"/>
                    <div style="font-size: 11px;" class="badge bg-danger">{{totalItem}}</div></a>
                </li>  
              </ul>
            </form>
          </div>
        </div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>      
            <form class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active bi bi-indent linkbtbg" aria-current="page" routerLink="/login">Login</a>  
                </li>
                <li class="nav-link active"> | </li>
                <li class="nav-item">
                  <a class="nav-link active linkbtbg" aria-current="page" routerLink="/register">Register</a>
                </li>  
              </ul>
            </form>
          </div>
        </div>
      </nav>
</div>
