<div class="container">
    <h1 class="h1"> Delivery Address </h1>
    <table class="common-form">
        <tr class="group"> <input 
            type="text" required
            class="form-input"
            name = "name"
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Recipient Name</label>
        </tr>
        <tr class="group"> <input 
            type="email" required
            class="form-input"
            name = "email"
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Recipient Email</label>
        </tr>
        <tr class="group"> <input 
            type="tel" required
            class="form-input"
            name = "phone"
            maxlength="10"
            >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label for="phone">Recipient Moblie Number</label>
        </tr>
        <tr class="group"> 
            <textarea id="subject" 
            name="subject" 
            placeholder="Enter your address..." 
            style="height:100px ; width: 300px;"
            class="form-input"></textarea>
        </tr>
        <tr>
            <button class="form-button button-30">Confirm</button>
        </tr>
    </table>
</div>
